<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>990064075367-6mop9c2qqrjh58uvo2ltks7q55mh4da3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990064075367-6mop9c2qqrjh58uvo2ltks7q55mh4da3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>990064075367-q5281gf6g3fcsh0t1iop3bkaq75cfhoc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCKz_oczx9aZeFhI7jWo5L1r00ZSHrCX6g</string>
	<key>GCM_SENDER_ID</key>
	<string>990064075367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doctorManagement</string>
	<key>PROJECT_ID</key>
	<string>hospitalmanagement-1f6c8</string>
	<key>STORAGE_BUCKET</key>
	<string>hospitalmanagement-1f6c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990064075367:ios:c003eec19a1286759e6ac2</string>
</dict>
</plist>